.filterWrap {
  display: flex;
  gap: .4em;
  opacity: 0;
}

.filterWrap.active {
  opacity: 1;
}

.filterChip {
  padding: .05em .6em 0 .6em;
  border: 1px solid rgb(85, 85, 85);
  color: var(--vt-c-black-mute);
  border-radius: 5px;
  font-size: .9em;
  transition: .1s all ease-out;
  display: flex;
  gap: .1em;
  align-items: center;
}

.filterChip:hover {
  cursor: pointer;
  background: rgba(235, 235, 235, 0.8);
}

.filterChip img {
  width: 15px;
}