table th,
table td {
  padding: .3em 0 .3em .7em;
  border-right: 1px solid rgb(146, 146, 146);
}

table th:last-of-type,
table td:last-of-type {
  border-right: 0px;
}

table {
  position: relative;
  border-collapse: collapse;
  margin: 12px 0;
  font-size: .9em;
  min-width: 400px;
  table-layout: fixed;
  color: var(--vt-c-black);
}

.loadingWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.loadingWrap.active {
  display: block;
  background: rgba(85, 85, 85, 0.322);
  z-index: 2;
}

table th {
  text-align: left;
  background: #dadada;
  font-weight: bold;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr:nth-of-type(even) {
  background: #f3f3f3;
}

table tr:last-of-type {
  border-bottom: 2px solid rgb(31, 125, 212);
}

table .actionCell {
  position: relative;
}

table .actionCell .burger {
  width: 25px;
  height: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;
}

table .actionCell .burger span {
  background: #000;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
}

table .actionCell .menu {
  position: absolute;
  top: 20%;
  right: -140px;
  width: 150px;
  border: 1px solid rgb(9, 40, 68);
  border-radius: 4px;
  display: none;
  z-index: 10;
}

table .actionCell .menu.active {
  display: block;
}

table .actionCell .menu ul li {
  padding: .3em .5em;
  background: rgb(25, 103, 175);
  color: #fff;
  transition: .2s ease-out;
}

table .actionCell .menu ul li+li {
  border-top: 1px solid var(--vt-c-black-mute);
}

table .actionCell .menu ul li:hover {
  cursor: pointer;
  background: rgb(19, 82, 141);
}